*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.header {
margin: auto;
background-color: darkslategrey;
color: white;
padding: 20px;
border-style: solid;
height:100px;
width:960px;
text-align: center;
}

.grid-container {
    display: grid;
    height:100vh;
    border: 10px solid black;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    justify-items: center;
    /* height:600px;
    width: 960px; */

}

.weatherBox {
    padding: 20px;
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 3;
    /* height:100 px;
    width: 600 px */
    grid-column-start: 1;
    grid-column-end: 2;
}

#list-group {
    padding: 10px;
    margin:10px;
    background-color: burlywood;
    grid-row-start: 1;
    grid-row-end: 3;
}


.table {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2 / span 2;
    justify-self: center;
    /* align-self: center; */

}

/* .test {
   padding: 10px;
   margin: 20px;
} */



.btn {
    background-color: aliceblue;
    color: black;
}

.fiveDay1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: left;

}
.fiveDay2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-self: left;

}
.fiveDay3 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: left;

}
.fiveDay4 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: left;

}
.fiveDay5 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    justify-self: left;

}

